
<!-- 百度统计 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?272119dae6cce7e3ded69c4a57f828d1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N13ZH72VV9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N13ZH72VV9');
</script>
body {

    margin: 0;

    padding: 0;

    background-color: #f0f0f0; /* 替换背景图片为纯色 */

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    background-attachment: fixed;

}

a {

    font-size: 20px;

}

.topdiv {

    text-align: center;

    height: 20vh;

    display: flex;

    justify-content: center;

    align-items: center;

}

.container {

    height: 80vh;

    text-align: center;

    display: flex;

    flex-direction: column;

    justify-content: center;

}

span {

    font-size: 30px;

}

@media only screen and (max-width: 768px) {

    body {

        padding: 0px 30px;

        box-sizing: border-box;

        background-size: cover;

        background-position: center;

    }

    span {

        font-size: 20px;

    }

    .container {

        height: 80vh;

    }

    .topdiv {

        margin: 0;

        height: 20vh;

        display: flex;

        align-items: center;

    }

}

/* 弹窗样式 */

.modal {

    display: none;

    position: fixed;

    z-index: 1000;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    overflow: auto;

    background-color: rgba(0,0,0,0.4);

    padding-top: 60px;

}

.modal-content {

    background-color: #fefefe;

    margin: 5% auto;

    padding: 20px;

    border: 1px solid #888;

    width: 80%;

    max-width: 600px;

    border-radius: 10px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}

.close {

    color: #aaa;

    float: right;

    font-size: 28px;

    font-weight: bold;

}

.close:hover, .close:focus {

    color: black;

    text-decoration: none;

    cursor: pointer;

}

.modal-button {

    display: inline-block;

    margin: 10px;

    padding: 10px 20px;

    background-color: #4CAF50;

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;

    transition: background-color 0.3s;

}

.modal-button:hover {

    background-color: #45a049;

}

/* 遮罩层样式 */

.overlay {

    display: none;

    position: fixed;

    z-index: 999;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    cursor: not-allowed;

}